.filterContainer {
  display: flex;
  height: 55px;
  border-radius: 16px;
  background-color: $white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

//Inner parts
.filterBtn {
  width: 100%;
}

.filterBtn-center {
  border-left: 1px solid $grey-0;
  border-right: 1px solid $grey-0;
}

@media (max-width: 560px) {
  .filterContainer {
    margin-top: 40px;
    width: 100%;
  }
}